body {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, rgb(218, 163, 208), rgb(240, 240, 231));
    background-repeat: no-repeat
}



.header {
    position: relative;
    height: 30px;
    padding: 10px 15px;
    text-align: center;

}

.logo {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 15px;
    margin-top: 0;
}

.ChatGPT {
    position: absolute;
    left: 40px;
    margin-top: 5px;
    font-size: 5px;
}

.header a {
    color: rgb(12, 12, 12);
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 10px;

}

.images {
    display: inline-block;
    color: black;
    width: 10px;
    height: 15px;
    text-align: center;


}

.login {
    position: absolute;
    right: 150px;
    font-size: 10px;
    color: white;
    background-color: rgb(5, 5, 5);
    width: 40px;
    height: 20px;
    border-radius: 15px;
    border: none;
}

.sing {
    position: absolute;
    right: 50px;
    font-size: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 254, 254);
    width: 90px;
    height: 20px;
    border-radius: 15px;

}

.question {
    position: absolute;
    right: 0px;
}

.content {
    position: relative;
    width: 700px;
    height: 700px;
    top: 70px;
    left: 100px;
    text-align: center;

}

p {
    position: absolute;
    left: 5px;
    top: 40px;
    font-size: 25px;
}


#text {
    position: absolute;
    font-size: 15px;
    top: 100px;
}

.content img {
    width: 100px;
    margin-top: 130px;
    border-radius: 8px;
    margin-right: 12px;
    font-size: 12px;
}

.content a{
    width: 100px;
    margin-right: 12px;
    font-size: 12px;
}

#discover {
    margin-top: 350px;
    font-size: 17px;
}


.content input{
    width: 25px;
    height: 25px;
    margin-right: 300px;
    margin-top: 20px;
   

}