.header {
    position: relative;
    width: 100%;
    height: 30px;
    padding: 10px 15px;
    text-align: center;


}

.logo {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 15px;
}

.ChatGPT {
    position: absolute;
    left: 40px;
    margin-top: 5px;
    font-size: 5px;
}

.header a {
    color: rgb(12, 12, 12);
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 10px;

}

.images {
    display: inline-block;
    color: black;
    width: 10px;
    height: 15px;
    text-align: center;


}

.login {
    position: absolute;
    right: 150px;
    font-size: 10px;
    color: white;
    background-color: rgb(5, 5, 5);
    width: 40px;
    height: 20px;
    border-radius: 15px;
    border: none;
}

.sing {
    position: absolute;
    right: 50px;
    font-size: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 254, 254);
    width: 90px;
    height: 20px;
    border-radius: 15px;

}

.question {
    position: absolute;
    right: 0px;
}

h1 {
    background-color: rgb(255, 255, 255);
    padding: 10px 15px;
    font-size: 30px;
    margin-top: 30%;
    text-align: center;
}

.form{
    position: relative;
    background-color: rgb(255, 255, 255);
    padding: 10px 15px;
    text-align: center;
} 

.textinput {
    position: relative;
    width: 700px;
    height: 100px;
    border-radius: 20px;

    
}

